@using DataGraph.Models;
@model EditableDataGraphClassModel

<ul>
    @foreach (var property in Model.Class.Properties)
    {
        <li>
            @property.ToString()
        </li>
    }
</ul>

<button class="btn btn-primary" onclick="toggle('@("AddProperty" + Model.Class.ClassName)')">Add property</button>
<form method="post" asp-action="AddProperty" id="@("AddProperty" + Model.Class.ClassName)" style="display: none">
    <input hidden name="ClassName" value="@Model.Class.ClassName" />
    <div class="form-group">
        <label class="control-label">Property name</label>
        <input name="Name" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label class="control-label">Property type</label>
        <select name="Type" class="form-control">
            <option>string</option>
            <option>int</option>
            <option>decimal</option>
            @foreach (var type in Model.Schema.CustomTypes)
            {
                <option>@type.ClassName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Is array?</label>
        <input name="IsArray" type="checkbox" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" name="OperationType" value="Save property" class="btn btn-primary" />
    </div>
</form>