@page
@model DataGraph.Pages.ViewDataGraphModel

@{
    ViewData["Title"] = "ViewDataGraph";
}

<h1>@Model.DataGraphInstance.Name</h1>

<h2>User APIs</h2>

<h3>Endpoint</h3>

<pre>@Model.EndpointUrl</pre>

@foreach (var def in Helpers.ApiDefinitionHelper.GetApiDefinitions(Model.DataGraphInstance.Schema))
{
    <div class="api-definition">
        <pre class="api-path">@def.Method.ToString().ToUpper() @def.RelativePath</pre>

        <strong>Response</strong>
        <pre class="api-response">@def.ReturnFormat</pre>
    </div>
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataGraphInstance.SchemaJson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataGraphInstance.SchemaJson)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditDataGraphSchema" asp-route-id="@Model.DataGraphInstance.Id">Edit schema</a>
</div>
